.search-item {
  width: 98%;
  display: flex;
  gap: 12px;
  cursor: default;
  transition: all 0.3s ease-in-out;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &-data {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .button-wrapper {
      display: flex;
      gap: 10px;

      button {
        border: none;
        cursor: pointer;
        background-color: rgb(181, 128, 24, 0.5);
        padding: 6px 12px;
        border-radius: 8px;
      }
    }
  }

  &:hover {
    transform: translateX(10px);
  }
}
